<%= form_for [@reagent, @reagent_use] do |f| %>

  <%= f.hidden_field :user_id, :value => @current_user.id %>

<h1>Reagent: <%=@reagent.name%> </h1>
    <br><br>
  <h1>Reagent Units: <%=@reagent.unit%> </h1>

    <br><br>
    <h1>Quantity Available: <%=@reagent.quantity%></h1>
    <h1>Quantity to be used:</h1>
    <%= f.label :quantity%>
    <%= f.number_field :quantity, step: 0.1 %>
    <br><br>
    <%= f.label :date %>
    <%= f.date_field :date %>



   <%= f.submit "Use Reagent" %>

<% end %>
