<% if flash[:message] %>
  <div class="message"><%=flash[:message] %></div>
<% end %>
 Reagent:<%= @reagent_use.reagent.name %>
 <br><br>
 Amount Used:<%= @reagent_use.quantity%>X<%= @reagent_use.unit%>

Date: <%= @reagent_use.date %>

User: <%= @reagent_use.user.name %>
