<h2>Sign up for Lab Supply Tracker</h2>

<%= render partial: "layouts/errors", locals: { object: @user } %>

<%= form_for @user do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :email %>
   <%= f.email_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %><br>

   <%= f.label :lab_id, "Select your lab" %>
   <%= f.collection_select :lab_id, Lab.all, :id, :principal_investigator, include_blank: true %>
   <br>
  Admin: <%= f.check_box :admin %><br><br>
  <div class='container'>
   New labs can be signed up by new users with admin status:<br>
   <%= f.fields_for :lab do |lab| %>
     <%= lab.label :principal_investigator %>
     <%= lab.text_field :principal_investigator %>
     <%= lab.label :institution %>
     <%= lab.text_field :institution %>
   <% end %>
 </div>


   <%= f.submit "Create an Account" %>

<% end %>
