<h2>Sign up for Lab Supply Tracker</h2>

<%= render partial: "layouts/errors", locals: { object: @user } %>

<%= form_for @user do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :email %>
   <%= f.email_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.label :lab_id, "Select your lab" %>
   <%= f.collection_select :lab_id, Lab.all, :id, :principal_investigator %>

   Admin: <%= f.check_box :admin %>

   <%= f.submit "Create an Account" %>

<% end %>
