<h2>Sign up for Lab Supply Tracker</h2>

<%= render partial: "layouts/errors", locals: { object: @user } %>

<%= form_for @user do |f| %>
   <%= f.label :name %>
   <%= f.text_field :name %>

   <%= f.label :email %>
   <%= f.email_field :email %>

   <%= f.label :password %>
   <%= f.password_field :password %>

   <%= f.label :lab_id, "Select your lab" %>
   <%= f.collection_select :lab_id, Lab.all, :id, :principal_investigator, include_blank: true %>

  Admin: <%= f.check_box :admin %>

   Or sign up a new lab:
   <%= f.fields_for :lab do |lab| %>
     <%= lab.label :principal_investigator %>
     <%= lab.text_field :principal_investigator %>
     <%= lab.label :institution %>
     <%= lab.text_field :institution %>
   <% end %>



   <%= f.submit "Create an Account" %>

<% end %>
