<% if flash[:message] %>
  <div class="message"><%=flash[:message] %></div>
<% end %>
  <ul>
    <% #byebug %>
    <% @reagents.each do |reagent| %>
      <li>
        <%= link_to reagent.name, reagent_path(reagent) %> <br>
        Current amount: <%= reagent.quantity %> <br>
        Amount over trigger: <%= (reagent.quantity - reagent.trigger)%> <%= reagent.unit %>
      </li>
    <% end %>
  </ul>

  <% if @reagents == [] %>
    <div ='container'>
    <%= "Sorry, #{@lab.principal_investigator} Lab does not have that reagent." %>
    </div>
    <br><br>
    <div = 'container'>
    <%= form_tag(lab_reagents_ask_path, method: "get") do %>
      <%= label_tag(:name, "Request reagent:") %>
      <%= text_field_tag(:name) %>
      <%= submit_tag("Submit") %>
    <% end %>
    <div/>
  <% end %>
