<h1>Welcome to the <%=@lab.principal_investigator%> Lab!</h1>

<h2><%=@lab.principal_investigator%> Lab members:</h2>
  <% @lab.users.each do |user| %>
    <ul>
      Name:<%= user.name %><br>
      Email:<%= user.email %>
    </ul>
  <% end %>


<%= link_to "Reagent Locations", lab_locations_path(@lab) %>

  
    <br><br>
    <%= link_to "Create a new location", new_lab_location_path(@lab) %>

    <%= link_to "Log out", logout_path, method: :delete %>
