<!DOCTYPE html>
<html>
  <head>
    <title>LabSupplyTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class='navbar'>
    <% if logged_in %>
      <%= link_to "Log out", logout_path, method: :delete, class:'button' %>
      <%= go_home %>
        <% if @current_user.admin %>
          <%= link_to "Admin Functions", lab_admin_path(@lab) %>
        <% end %>
    <% end %>
    <div class='container'>
    <%= yield %>
    </div>
  </body>
</html>
